body {
    background: azure;
    /* background-color: #1c3440; ; */
    margin-left: 10px;
    margin-right: 10px;
}

.navbar{
    background-color: #1c3440;   
}

.links {
    color: aqua;
}

